<h2 mat-dialog-title>Your Test Result</h2>
<mat-dialog-content *ngIf="data.result=='sheldon'">
  <div>
    <img src="../../assets/img/sheldon.jpg" height="160" width="160" />

    <h5>Your type is <strong>SHELDON</strong></h5>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.result=='snow'">
  <div>
    <img src="../../assets/img/snow.PNG" height="160" width="160" />

    <h5>Your type is <strong>SNOW</strong></h5>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.result=='normal'">
  <div>
    <img src="../../assets/img/normal.jpg" height="160" width="160" />

    <h5>You are normal</h5>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</div>
