<h2 mat-dialog-title>Your Test Result</h2>
<mat-dialog-content *ngIf="data.result=='sheldon'">
  <div>
    <img src="../../assets/img/sheldon.jpg" height="160" width="160" />

    <h3>You are Sheldon who is</h3>
    <h3>very arrogant and painful</h3>
    <h3>sometimes but knows his</h3>
    <h3>stuff very well</h3>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.result=='snow'">
  <div>
    <img src="../../assets/img/snow.PNG" height="160" width="160" />

    <h3>You are a true snow</h3>
    <h3>who knows nothing</h3>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.result=='normal'">
  <div>
    <img src="../../assets/img/normal.jpg" height="160" width="160" />

    <h3>You are normal</h3>
    <h3>Like this Lily here.</h3>
  </div>
</mat-dialog-content>
