mat-form-field{
    margin: 20px;
}
.center{
    justify-content: center;
}

mat-card{
    margin-left: 20px; 
    margin-right: 20px ;
    background-color: #E4F5FF; 
    opacity: 0.85;
    font-weight: 600;
}
input{
width: 250px;
}

.ques{
    /* margin-left: 20px;  */
    text-align: center;
    width: 500px;
}

