.set-questions{
    margin-left: 20px; 
    margin-right: 20px 
}
mat-form-field{
    margin: 10px;
    width: 250px;
}




button{
    margin: 20px;
 }

 mat-card{
    
    background-color: #E4F5FF; 
    opacity: 0.85;
    font-weight: 600;
}
  
