<div class="example-container">
  <mat-form-field>
    <!-- <mat-icon>email</mat-icon> -->
    <input matInput placeholder="Email" type="email" required />
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <!-- <mat-icon>vpn_key</mat-icon>  -->
    <input
      matInput
      placeholder="Password"
      type="password"
      required
      [type]="hide ? 'password' : 'text'"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button (click)="signUp()">Sign up</button>
</div>
